[project]
	description = Custom Game Engine in Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bloc97
[access "refs/for/refs/*"]
	read = group user/bloc97
	push = group user/bloc97
	label-Code-Review = -2..+2 group user/bloc97
	label-Verified = -1..+1 group user/bloc97
	rebase = group user/bloc97
	removeReviewer = group user/bloc97
	submit = group user/bloc97
[access "refs/heads/*"]
	read = group user/bloc97
	create = group user/bloc97
	push = +force group user/bloc97
	pushMerge = group user/bloc97
[access "refs/tags/*"]
	push = group user/bloc97
	push = +force group user/bloc97
